.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-rectangle {
  width: 220px;
  height: 220px;
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.rectangle {
  fill: black;
}
